{% extends 'base.html.twig' %}

{% block title %}Catalogue des livres{% endblock %}

{% block body %}
    <div class="mb-6">
        <a class="inline-flex items-center text-indigo-600 hover:text-indigo-800 font-medium transition" href="#">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                <path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
            </svg>
            Retour au catalogue
        </a>
    </div>
    <div class="mb-8 flex justify-between items-center">
        <h1 class="text-3xl font-extrabold text-gray-900">Catalogue Catégorie</h1>
        <span class="bg-indigo-100 text-indigo-700 px-4 py-1 rounded-full text-sm font-medium">
                {{ books|filter(b => b.enabled == true)|length }} ouvrages disponibles <br>
                {{ books|filter(b => b.enabled == false)|length }} ouvrages indisponibles
        </span>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {% if books is not empty %}
            {% for book in books %}
                {{ include('main/showcata.html.twig') }}
            {% endfor %}
        {% else %}
            <div class="bg-white rounded-xl p-10 border border-dashed border-gray-300 shadow-sm">
                <p class="text-gray-500 italic text-center">Aucun livre dans la catégorie pour le moment.</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
